<div class="container-fluid">
    <form class="form-signin">
        <div class="text-center">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <img class="img-fluid" src="img/logo.png" alt="Logo">
                </div>
                <div class="col-md-8 col-sm-12">
                    <h4>Bets4pro desktop app</h1>
                </div>
            </div>

            <div class="row pt-4">
                <div *ngIf="appState==0"  class="alert alert-secondary col-10 offset-1" role="alert">
                    Please log in to start selling
                </div>
                <div *ngIf="appState==1" class="alert alert-success col-10 offset-1" role="alert">
                    Selling is active
                </div>
                <div *ngIf="appState==-1" class="alert alert-danger col-10 offset-1" role="alert">
                    Selling isn't active
                </div>
            </div>
        </div>

        <div class="form-label-group">
            <input [(ngModel)]="username" id="inputLogin" class="form-control" placeholder="Login" name="Login"
                required="" autofocus="">
            <label for="inputLogin">Login</label>
        </div>

        <div class="form-label-group">
            <input [(ngModel)]="password" (keyup.enter)="login()" type="password" id="inputPassword" class="form-control"
                placeholder="Password" name="Password" required="">
            <label for="inputPassword">Password</label>
        </div>

        <button (click)="login()" class="btn btn-lg btn-primary btn-block">Sign in</button>
    </form>
    <div>
        <button (click)="relog()">relog</button>
        <button (click)="test()">test</button>

        <p>trades: {{trades.length}}</p>
        <p>{{trades | json}}</p>
        <!-- <div *ngFor="let trade of trades">{{trade}}</div>-->
    </div>
</div>