<div class="container-fluid bg-secondary px-0">
    <ul class="nav nav-pills text-center mx-0" id="pills-tab" role="tablist">
        <li class="nav-item col-4 px-0">
            <a class="nav-link text-white active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                aria-controls="pills-home" aria-selected="true">Login</a>
        </li>
        <li class="nav-item col-4 px-0">
            <a class="nav-link text-white" id="pills-trades-tab" data-toggle="pill" href="#pills-trades" role="tab"
                aria-controls="pills-trades" aria-selected="false">Trades</a>
        </li>
        <li class="nav-item col-4 px-0">
            <a class="nav-link text-white" id="pills-settings-tab" data-toggle="pill" href="#pills-settings" role="tab"
                aria-controls="pills-settings" aria-selected="false">Settings</a>
        </li>
    </ul>
</div>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="col-12">
            <form class="form-signin">
                <div class="text-center">
                    <div class="row">
                        <div class="col-12">
                            <img class="img-fluid" src="img/logo.png">
                        </div>
                        <div class="col-12">
                            <h4>Bets4pro desktop app</h1>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div *ngIf="appState==0" class="alert alert-secondary col-10 offset-1" role="alert">
                            Log in to start selling
                        </div>
                        <div *ngIf="appState==1" class="alert alert-success col-10 offset-1" role="alert">
                            Selling is active
                        </div>
                        <div *ngIf="appState==-1" class="alert alert-danger col-10 offset-1" role="alert">
                            Selling isn't active
                        </div>
                    </div>
                </div>

                <div class="form-label-group">
                    <input [(ngModel)]="username" id="inputLogin" class="form-control" placeholder="Login" name="Login"
                        required="" autofocus="">
                    <label for="inputLogin">Login</label>
                </div>

                <div class="form-label-group">
                    <input [(ngModel)]="password" (keyup.enter)="login()" type="password" id="inputPassword"
                        class="form-control" placeholder="Password" name="Password" required="">
                    <label for="inputPassword">Password</label>
                </div>

                <button (click)="login();saveSettings();" class="btn btn-lg btn-primary btn-block">
                    <i *ngIf="isLogginIn" class="fa fa-circle-o-notch fa-spin"> </i>
                    <i *ngIf="!isLogginIn" class="fa fa-steam"> </i> 
                    Sign in
                </button>
            </form>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-trades" role="tabpanel" aria-labelledby="pills-trades-tab"
        style="height: 100vh; overflow: auto;">
        <div class="row m-3 text-center">
            <div *ngIf="appState==0" class="alert alert-secondary col-11" role="alert">
                Log in to start selling
            </div>
            <div *ngIf="appState==1" class="alert alert-success col-11" role="alert">
                Selling is active
            </div>
            <div *ngIf="appState==-1" class="alert alert-danger col-11" role="alert">
                Selling isn't active. Click <i class="fa fa-play"></i> to enable
            </div>
            <div class="col-1">
                <button *ngIf="appState==-1" class="btn btn-lg btn-primary" data-toggle="tooltip" title="Start" (click)="setAppState(1);">
                    <i class="fa fa-play"></i>
                </button>
                <button *ngIf="appState==1 || appState==0" [disabled]="appState==0" class="btn btn-lg btn-primary" data-toggle="tooltip" title="Stop" (click)="setAppState(-1);">
                    <i class="fa fa-pause"></i>
                </button>
            </div>
        </div>
        <div class="col-12">
            <div *ngIf="!trades.length" class="align-items-center justify-content-center">
                <div class="col-4 offset-4">
                    <img class="img-fluid" src="img/no.png">
                </div>
                <p class="text-center">
                    No active trades
                </p>
            </div>
            <div *ngIf="trades.length" class="row m-2">
                Trades:
            </div>
            <div *ngFor="let trade of trades" class="my-2 p-1 border border-success">
                <div class="row m-0 p-0 text-nowrap" style="height: 60px">
                    <div class="col-2 m-0 p-1">
                        <img class="img-fluid position-absolute h-100 rounded" src="{{trade.buyer_data.avatar}}"
                            style="opacity: 0.4">
                    </div>
                    <div class="col-5 pl-1">
                        <div class="col-12 text-truncate p-0">
                            {{trade.buyer_data.name}}
                        </div>
                        <div class="col-12 p-1">
                            <small>Protection Code: </small> {{trade.protection_code}}
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="col-12">
                            <small>SteamID</small>
                        </div>
                        <div class="col-12">
                            {{trade.buyer_data.steamid}}
                        </div>
                    </div>
                </div>
                <div class="row m-1">
                    Items:
                </div>
                <div class="row m-0 p-1">
                    <div *ngFor="let item of trade.items_data" class="m-0 p-1" style="width: 105px; height: 70px;">
                        <img src="{{item.img}}" class="img-fluid rounded"
                            [ngStyle]="{'border': '3px solid '+item.color}" data-toggle="tooltip"
                            data-placement="bottom" title="{{item.name}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade col-12 p-3" id="pills-settings" role="tabpanel" aria-labelledby="pills-settings-tab">
        <div class="form-check" (change)="saveSettings()">
            <input class="form-check-input" type="checkbox" [(ngModel)]="saveLogin" id="save-login">
            <label class="form-check-label" for="save-login">
                Save login
            </label>
        </div>
        <div class="form-check" (change)="saveSettings()">
            <input class="form-check-input" type="checkbox" [(ngModel)]="savePassword" id="save-password">
            <label class="form-check-label" for="save-password">
                Save password
            </label>
        </div>
        <div class="form-check" (change)="saveSettings(); enableNotificationsChanged();">
            <input class="form-check-input" type="checkbox" [(ngModel)]="enableNotifications" id="enable-notifications">
            <label class="form-check-label" for="enable-notifications">
                Enable notifications
            </label>
        </div>
    </div>
</div>